*{
margin: 0;
padding: 0;
}
header{
    background-color: black;
    color: white; 
    padding: 50px;

}
h1,ul,li{
    display: inline;
    

}
ul{
    margin-left: 40%;
}
li{
    color: gray;
    cursor:pointer ;
}
li:hover{
color:aliceblue
}
input{
    width: 500px;
    padding: 20px;
    margin: 50px;
}
.searchbar{
    text-align: center;
    padding: 10px;
}
.box{
    display: inline-block;
    width: 225px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
   
}
.box:hover{
    background-color: black;
    color: aliceblue;
}
.product{
   margin:30px;
     text-align: center;

}
.about{
    text-align: center;
    padding: 15px;

}
.contect{
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 50px;
    margin-top: 20px;

}


